* {
  font: arial
}

head {
font-family: arial;
}

h1 {
text-align: center;
}
h2 {
  text-align: center;

}

h4 {
  text-align: center;

}

body {
font-family: arial;
}

.column {
  float: left;
  width: 48%;
  flex: 1;
  background-color: rgb(215, 231, 255);
  border: 2px solid black;
  padding: 10px;
  
}

.top {
  background-color: rgb(255, 218, 215);
  border: 2px solid black;
}

.row {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

#encompass {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  background-color: plum;
  height:450px

}

#diamond {
  width: 60%;
  padding-right: 10px;
  object-fit: contain;
  background-color: rgb(0, 247, 255);
}

#details {
  display: flex;
  flex-direction: column;
  width: 40%;
  object-fit: contain;
  background-color: rgb(0, 255, 17);
}

#secondary {
  height: 65%;
  object-fit: contain;
  background-color: rgb(0, 83, 35);
}

#stats {
  height: 35%;
  object-fit: contain;
  background-color: rgb(255, 0, 0);
}


#dugout {
  background-color: rgb(229, 255, 0);
  height: 75px;
}

.progress-text {
  font-size: 1.25em;
  color: black;
  margin-bottom: 1em;
  font-weight: 600;
}