* {
  font: arial
}

#bold-stat {
  font-weight: bold ;
}

#descriptor, #player-team {
  display: inline-block;
  /* or display: inline; */
  margin: 0; /* remove default margin */
}

#descriptor-2, #player-age {
  display: inline-block;
  margin: 0; /* remove default margin */
}

head {
font-family: arial;
}

h1 {
text-align: center;
}
h2 {
  text-align: center;

}

h4 {
  text-align: center;

}

body {
font-family: arial;
}

.column {
  float: left;
  width: 48%;
  flex: 1;
  background-color: rgb(215, 231, 255);
  border: 2px solid black;
  padding: 10px;
  
}

.top {
  background-color: rgb(255, 218, 215);
  border: 2px solid black;
}

.row {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

#encompass {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  background-color: plum;
  height:450px;

}

#diamond {
  flex: 1;
  width: 60%;
  padding-right: 10px;
  object-fit: contain;
  background-color: rgb(84, 140, 47);
}

#details {
  display: flex;
  flex-direction: column;
  width: 40%;
  object-fit: contain;
  background-color: rgb(65, 106, 38);
}

#secondary {
  display: flex;
  height: 65%;
  display: flex;
  object-fit: contain;
  background-color: rgb(65, 106, 38);
}

#stats {
  height: 35%;
  display: flex;
  object-fit: contain;
  background-color: rgb(255, 0, 0);
}


#dugout {
  background-color: rgb(185, 174, 90);
  height: 75px;
  padding-right: 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.player {
  display: flex;
  align-items: center;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  padding: 10px;
}

.progress-text {
  font-size: 1.25em;
  color: black;
  margin-bottom: 1em;
  font-weight: 600;
}

.text {
  color: white;

}

.content {
  color: white;

}

#player-stats-list {
  color: white;
}

.bar1 {
  fill: steelblue;
}

.bar2 {
  fill: lightsalmon;
}

.tooltip {
  position: absolute;
  background-color: lightgreen;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
